<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="productFilePath" value="C:\\Users\\skhan\\Desktop\\New\\XMLfiles\\Products.xml"/>
    <add key="employeeFilePath" value="C:\\Users\\skhan\\Desktop\\New\\XMLfiles\\Employee.xml"/>
    <add key="client" value ="smtp.gmail.com"/>
    <add key="sender" value="tkatariya@tavisca.com"/>
    <add key="password" value="tkatariya$.24454674"/>
    <add key="msgSubject" value="Email from Tavisca IT Infrastuctue...."/>
    <add key="AssignHtmlFilePath" value="C:\\Users\\skhan\\Desktop\\New\\ITInfrastructureManegementFinal\\EmailSender\\HtmlTemplates\\AssignBody.html"/>
    <add key="ExpireHtmlFilePath" value="C:\\Users\\skhan\\Desktop\\New\\ITInfrastructureManegementFinal\\EmailSender\\HtmlTemplates\\ExpireBody.html"/>
    <add key="UnAssignHtmlFilePath" value="C:\\Users\\skhan\\Desktop\\New\\ITInfrastructureManegementFinal\\EmailSender\\HtmlTemplates\\UnAssignBody.html"/>
  </appSettings>
  </configuration>